* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.card-title {
    font-weight: 600;
    font-size: 22px;
}

.card-subtitle {
    padding: 10px 20px 20px 0;
    font-weight: 400;
    color: grey;
    font-size: 12px;
}

.card {
    height: 200px;
    width: 300px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    /*background-color: cyan;*/

}
.card:hover{
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.2);

}
.page {
    margin: 50px;
    display: flex;
    width: 900px;
    /*background-color: cyan;*/
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    /*background-color: deeppink;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.heading-one {
    font-weight: 200;
    font-size: 25px;
    color: grey;
}


.heading-two {
    font-weight: 600;
    font-size: 27px;

}

.heading-three {
    display: flex;
   max-width: 550px;
    font-weight: 400;
    font-size: 17px;
    color: grey;
    padding: 10px 0px;
}
@media screen and (min-width: 900px) {
body{
    /*background-color: cyan;*/
}
    .cards{
        display: flex;
        align-items: center;
    }
}